################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/HupunSDK/.vs/HupunSDK
/HupunSDK/bin
/HupunSDK/obj
/HupunSDK.Common/bin
/HupunSDK.Common/obj
/HupunSDK.Core/bin
/HupunSDK.Core/obj
/HupunTest/bin/Debug/netcoreapp3.1
/HupunTest/obj
/obj
/HupunSDK.Test/bin/Debug/netcoreapp3.1
/HupunSDK.Test/obj
